<launch>


  <arg name="kinect" default="false"/>
  <group if="$(arg kinect)">
    <!--<include file="$(find freenect_launch)/launch/freenect.launch" /> -->
    <node pkg="tf" type="static_transform_publisher" name="world_to_camera" args="0.04 0.025 -0.005 -1.57 -0.875 0.03 head_camera camera_link 100" />
  </group>

  <arg name="kinect2" default="false"/>
  <group if="$(arg kinect2)">
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
      <arg name="publish_tf" value="true" />
    </include>
  <node pkg="tf" type="static_transform_publisher" name="world_to_camera" args="0.177 -0.029 0.118 0.177 -0.029 0.118 world kinect2_link 100" />
  </group>

<!--
rosrun tf static_transform_publisher 0.02 0.4 0.04 -1.57 -0.875 0.00 head_camera camera_link 100
rosrun tf static_transform_publisher 0.05 0.04 -0.005 -1.57 -0.875 0.0300 head_camera camera_link 100
new ones:
0.04 0.02 0.00 -1.57 -0.875 0.0300
maybe: 
0.04 0.02 0.03 -1.57 -0.875 0.030

from robot's base point of view:
x (right) z (up) y (forward)

-->



</launch>
